{% extends "bootstrap/base.html" %}

{% block title %}
HW casting agency
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}



{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-warning font-monospace p-4 shadow-sm sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder fs-2" href="#">HW studio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-4 fw-bold d-flex flex-row">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/movies" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Homepage">
            <i class="bi bi-house-door-fill"></i>
          Home
        </a>
        </li>

        {% if movies %}
        {% set searchType="movies" %}
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tooltip" data-bs-placement="bottom" title="actors page" href="/actors">Actors</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tooltip" data-bs-placement="bottom" title="movies page" href="/movies">Movies</a>
        </li>
        {% endif %}
    </ul>
      <form class="d-flex" action="/{{searchType}}/search" method="POST">
        <input name="searchTerm" class="form-control me-2 fw-bold font-monospace" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark fs-5 fw-bold font-monospace me-1" type="submit">Search</button>
      </form>
        {% if current_user.username %}
        <a href="/userprofile" class="d-flex text-decoration-none mb-1">
          <h4 class="font-monospace fs-5 fw-bolder mt-2 me-2 ms-5 ps-2" style="border-left: 3px solid black;">
          {{ current_user.username }}
        </h4>
            <img src="{{ current_user.image_link }}" alt="user_image" class="rounded-pill" style="width: 50px;
            height: 40px;">
        </a>
      {% else %}
        <a href="/signup" class="d-flex ms-4 text-decoration-none">
          <button class="btn fs-5 btn-outline-primary" href="#">
            <span class="fw-bolder">sign-up</span>
            <i class="bi bi-arrow-up-right-circle-fill"></i>
          </button>
        </a>
      {% endif %}
      <hr>
    </div>
  </div>
</nav>
<!-- end for navbar -->
</div>  
<section class="bg-warning p-5" style="height: 722px; z-index: 1000; position: fixed; width: 100%;" id="disclaimer">

  <div class="ms-auto me-auto p-5 fs-5 fw-bold"style="border-left: 4px solid black; border-right: 4px solid black; width: 1200px;margin-top: 100px;">
    <i class="bi bi-exclamation-square-fill text-danger font-monospace"></i> This Web side was maded only for learning purposes, and its not in production, we do not have any income source from web app.
    If you are author of this films or actors, please <a href="">contact</a> me!
    The data will be removed in 24 hours! 
    <br><br><br>
    <button onclick="agree()" class="btn btn-outline-success fs-5 btn-group-lg font-monospace p-1 me-5" id="agreebutton">
      agree
    <i class="bi bi-check-lg"></i>
    </button>
    <a href="http://www.google.com" class="btn btn-outline-danger fs-5 btn-group-lg font-monospace p-1 ms-1">
      disagree
    <i class="bi bi-x-lg"></i>
    </a>    
  </div>
</section>
<section class="bg-warning ps-5 pe-5 pt-1 "style="height: 100hv; z-index: 1000; width: 100%;">
  <!-- flash message section  -->
    <div class="p-0" style="z-index: 1000">  
    {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <p class="font-monospace fw-bold fs-5">{{ message }}</p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
              {% endif %}
          {% endwith %}
          </div>
  <!-- end flash message section -->
  <div class="ms-auto me-auto p-1 fs-5 fw-bold bg-warning"style="border-left: 4px solid black; width: 1200px;margin-top: 50px;">

  Today: {{ current_day }}
  </div>
  <br>

  <div class="ms-auto me-auto p-3  fs-5 fw-bold bg-warning mt-0"style="width: 1200px;margin-top: 100px; grid-template-columns: auto auto auto;">
  {% if movies %}
  <span class="ms-auto me-auto p-5 fw-bold bg-warning mt-0">MOVIES</span>

  {% if current_user.is_admin %}
  <a href="/movies/create" class="btn btn-primary">+ new movie</a>
  {% endif %}

  {% for movie in movies.items %}
  <!-- for every movie -->
  <a href="/movie/{{movie.id}}" class="text-decoration-none text-dark">
  <hr class="">
    <div class="ms-2" style="">
    <img style="width:200px; height: 200px" src="{{ movie.image_link }}" alt="film image" class="border border-light">
    <span class="font-monospace fw-bold fs-4">"{{ movie.title }}"</span>
    <div class="information fs-5" style="float: right;">
    {{ movie.date }}
    </div>
    </div>
    </a>
  {% endfor %}
  <hr>
  <div class="mt-2">
  {% if movies.has_prev %}
  <a class="btn fs-5 btn-outline-dark  fw-bold rounded-pill" href="{{ url_for('movie_app.get_movies', page=movies.prev_num) }}"><i class="bi bi-arrow-left-circle-fill"></i> Newer movies</a>
  {% else %}
  <i class="bi bi-arrow-left-circle-fill"></i> Newer movies
  {% endif %}
   | 
  {% if movies.has_next %}
  <a class="btn fs-5 btn-outline-dark fw-bold rounded-pill" href="{{ url_for('movie_app.get_movies', page=movies.next_num) }}">Older movies <i class="bi bi-arrow-right-circle-fill"></i></a>
  {% else %}
  Older movies <i class="bi bi-arrow-right-circle-fill"></i>
  {% endif %} <br>

  <span class="font-monospace text-muted" style="margin-left: 500px">
  <span class="">page:</span> {{ movies.page }} 
  <span class="text-decoration-underline">in</span> {{ movies.pages }}
  </span>
  </div>


  {% else %}

  <!-- for actors  -->
  {% if actors %}
  <div class="d-flex">
  <p class="font-monscpace fs-4">Actors</p>
  {% if current_user.is_admin %}<br>
  <a href="/actor/create" class="btn btn-primary ms-5">+ actor </a>
  {% endif %}
  </div>
  {% endif %}

  {% for actor in actors.items %}
  <hr>
  <a href="/actor/{{ actor.id }}" class="text-decoration-none text-dark clearfix">
  <div class="container__actors font-monospace fs-5 bg-warning  mt-1 clearfix"
  style="position: relative;">
    <div>
      <img src="{{ actor.image_link }}" alt="actor image" class=" border mt-3" 
      style="width: 180px; height: 160px;">
    </div>
    <p class="fs-5 fw-bold" style="position: absolute; left: 200px; top:20px">
      <span class="text-decoration-underline">{{ actor.name }}<br></span>
      slogan: <span class="text-muted fs-5">"{{actor.actor_slogan}}"</span>
    </p>
  </div>
  </a>
  {% endfor %}
  <hr>
  <div class="mt-2">
  {% if actors.has_prev %}
  <a class="btn fs-5 btn-outline-dark  fw-bold rounded-pill" href="{{ url_for('actors.get_actors', page=actors.prev_num) }}"><i class="bi bi-arrow-left-circle-fill"></i> </a>
  {% else %}
  <i class="bi bi-arrow-left-circle-fill"></i>
  {% endif %}
   | 
  {% if actors.has_next %}
  <a class="btn fs-5 btn-outline-dark fw-bold rounded-pill" href="{{ url_for('actors.get_actors', page=actors.next_num) }}"> <i class="bi bi-arrow-right-circle-fill"></i></a>
  {% else %}
   <i class="bi bi-arrow-right-circle-fill"></i>
  {% endif %} <br>

  <span class="font-monospace text-muted" style="margin-left: 500px">
  <span class="">page:</span> {{ actors.page }} 
  <span class="text-decoration-underline">in</span> {{ actors.pages }}
  </span>
  </div>

  {% endif %} 
  </div> 

</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
{{ super() }}
{% endblock %}